
	<%- include('./header.html') %>
	<div class="main-box">
		<div class="banner-box">
			<div class="banner">
				<img class="img" src="/public/img/index_1.jpg">		
			</div>
		</div>
		<div class="modular-box">
			<div class="modular1">
				<div class="title">
					<h2><span>公司简介</span></h2>
					<p>company profile</p>
				</div>

				<div class="box">
					<p>上海金脉电子科技有限公司成立于2004年，是英恒科技集团附属子公司，专业提供汽车电子产品方案及技术服务。</p>
					<p>上海金脉电子科技有限公司成立于2004年，是英恒科技集团附属子公司，专业提供汽车电子产品方案及技术服务。</p>
					<p>上海金脉电子科技有限公司成立于2004年，是英恒科技集团附属子公司，专业提供汽车电子产品方案及技术服务。</p>
					<p>上海金脉电子科技有限公司成立于2004年，是英恒科技集团附属子公司，专业提供汽车电子产品方案及技术服务。</p>
					<p>上海金脉电子科技有限公司成立于2004年，是英恒科技集团附属子公司，专业提供汽车电子产品方案及技术服务。</p>
					<p>上海金脉电子科技有限公司成立于2004年，是英恒科技集团附属子公司，专业提供汽车电子产品方案及技术服务。</p>
				</div>
			</div>
		</div>		
	</div>


	<%- include('./footer.html') %>