
	<%- include('./header.html') %>
	<div class="main-box">
		<div class="banner-box">
			<div class="banner">
				<img class="img" src="/public/img/index_1.jpg">		
			</div>
		</div>
		<div class="modular-box">
			<div class="modular1">
				<div class="title">
					<h2><span>公司简介</span></h2>
					<p>Company Profile</p>
				</div>

				<div class="box">
					<p>山西乾宇电控技术有限公司是2019年8月份在运城市经济开发区注册成立，注册资本500万元，是一家从事电控技术研发、销售的公司，主要从事工业自动控制系统装置、汽车零部件及配件、家用电器零部件、机电设备零部件的技术研发、技术支持技术推广、技术转让、销售，计算机软硬件开发、销售，以及信息系统集成服务。</p>
					<p>目前，公司与上汽集团、东风集团、沈阳金杯等国内整车厂的一些一级供应商达成合作意向，为整车提供一些车用电机的配套电机控制系统的研发和生产；与中国香港某国际能源基建公司，达成了‘一带一路’国家空调及白色家电的零部件供应合作意向，为其提供家电的电机配套电机控制系统的研发和生产</p>
					<p>为了进一步提升公司技术储备和核心竞争力，拓展市场，现计划在上海成立分公司。上海分公司研发团队核心成员，均在国内外顶尖技术公司任职多年，曾为过上汽荣威新能源车、北汽新能源车、格力空调、AO史密斯、美的小天鹅等国内外一线品牌，长期提供电机配套控制系统的研发，拥有深厚研发背景。</p>
				</div>
			</div>
		</div>		
	</div>


	<%- include('./footer.html') %>