	<%- include('./header.html') %>
	<div class="main-box">
		<div class="banner-box">
			<div class="banner">
				<img class="img" src="/public/img/handshake.jpg">		
			</div>
		</div>		
		<div class="modular-box">
			<div class="modular1">
				<div class="title">
					<h2><span>联系我们</span></h2>
					<p>contact us</p>
				</div>

				<div class="box yk-center-font">
					<h3>上海市浦东新区康桥路787号5号楼 206-218室</h3>
					<p>电话：021-61761700</p>
					<p>邮编：201315</p>
				</div>
			</div>
		</div>		
	</div>

	<%- include('./footer.html') %>