
	<%- include('./header.html') %>
	<div class="main-box">
		<div class="banner-box">
			<div class="banner">
				<div class="swiper-container">
				    <div class="swiper-wrapper">
				        <div class="swiper-slide">
				        	<img class="img" src="/public/img/index_1.jpg">
				        </div>
				        <div class="swiper-slide">
				        	<img class="img" src="/public/img/index_2.jpg">
				        </div>
				    </div>
				    <!-- 如果需要分页器 -->
				    <div class="swiper-pagination"></div>
				    
				    <!-- 如果需要导航按钮 -->
				    <div class="swiper-button-prev"></div>
				    <div class="swiper-button-next"></div>
				</div>			
			</div>
		</div>

		<div class="modular-box">
			<div class="modular">
				<div class="title">
					<div class="left"><i class="iconfont icon-lingxing"></i><span>公司简介</span></div>
					<div class="right"><a href="/about"><span>查看详情</span><i class="iconfont icon-jiantouyou"></i></a></div>
				</div>
				<div class="box">
					<p>上海金脉电子科技有限公司成立于2004年，是英恒科技集团附属子公司，专业提供汽车电子产品方案及技术服务。</p>
					<p>基于对国内汽车电子市场及产业链的深入理解和强大研发资源，金脉能够根据客户不同需求，提供针对汽车电子产品研发生产周期各环节的个性化工程技术服务。我们主要聚焦在汽车电器化及智能化，并在2011年被评定为国家高新技术企业......</p>
				</div>
			</div>
		</div>

		<div class="modular-box">
			<div class="modular">
				<div class="title">
					<div class="left"><i class="iconfont icon-lingxing"></i><span>产品方案</span></div>
					<div class="right"><a href="/product"><span>查看详情</span><i class="iconfont icon-jiantouyou"></i></a></div>
				</div>
				<div class="box">
					<ul class="list">
						<li>
							<img src="/public/img/BMS.jpg">
							<p>新能源汽车电池管理系统</p>
						</li>
						<li>
							<img src="/public/img/BMS.jpg">
							<p>新能源汽车电池管理系统</p>
						</li>
						<li>
							<img src="/public/img/BMS.jpg">
							<p>新能源汽车电池管理系统</p>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="modular-box">
			<div class="modular">
				<div class="title">
					<div class="left"><i class="iconfont icon-lingxing"></i><span>联系我们</span></div>
					<div class="right"><a href="/contact"><span>查看详情</span><i class="iconfont icon-jiantouyou"></i></a></div>
				</div>
				<div class="box">
					<p>上海市浦东新区康桥路787号5号楼 206-218室</p>
					<p>电话：021-61761700</p>
					<p>邮编：201315</p>
					<div class="yk-map" id="allmap">
						
					</div>
				</div>
			</div>
		</div>		
	</div>

	<%- include('./footer.html') %>
	<script type="text/javascript" src="/public/js/index.js"></script>