	<%- include('./header.html') %>
	<div class="main-box">
		<div class="banner-box">
			<div class="banner">
				<img class="img" src="/public/img/index_1.jpg">		
			</div>
		</div>
		<div class="modular-box">
			<div class="modular1">
				<div class="title">
					<h2><span>产品解决方案</span></h2>
					<p>Product Solution</p>
				</div>
				<div class="box">
					<div class="product">
						<div class="left">
							<ul class="list">
								<li class="active">新能源车主驱动电机控制器</li>
								<li>新能源车用大功率空调压缩机控制器</li>
								<li>车用燃油泵/风机/水泵电机控制器</li>
								<li> 电动座椅/尾门/天窗/后视镜/雨刷等车用电机控制器</li>
							</ul>
						</div>
						<div class="right">
							<div class="inner">
<!-- 								<h1>新能源汽车电池管理系统/NEV BMS1</h1>
								<p>动力电池是新能源汽车的核心能量源。为保障电池高效、可靠、安全运行，需要通过电池管理系统（Battery Management System，BMS）对动力电池进行实时监控、故障诊断、SOC 估算、短路保护等，并通过CAN 总线与车辆集成控制器进行信息交互。</p>
								<h2>特点及优势</h2>
								<ul class="order-list">
									<li>完全符合汽车行业标准的产品组合</li>
									<li>完全符合汽车行业标准的产品组合</li>
									<li>完全符合汽车行业标准的产品组合</li>
									<li>完全符合汽车行业标准的产品组合</li>
								</ul> -->
							</div>
							<div class="inner yk-hide">
			<!-- 					<h1>新能源汽车电池管理系统/NEV BMS2</h1>
								<p>动力电池是新能源汽车的核心能量源。为保障电池高效、可靠、安全运行，需要通过电池管理系统（Battery Management System，BMS）对动力电池进行实时监控、故障诊断、SOC 估算、短路保护等，并通过CAN 总线与车辆集成控制器进行信息交互。</p>
								<h2>特点及优势</h2>
								<ul class="order-list">
									<li>完全符合汽车行业标准的产品组合</li>
									<li>完全符合汽车行业标准的产品组合</li>
									<li>完全符合汽车行业标准的产品组合</li>
									<li>完全符合汽车行业标准的产品组合</li>
								</ul> -->
							</div>
							<div class="inner yk-hide">
			<!-- 					<h1>新能源汽车电池管理系统/NEV BMS3</h1>
								<p>动力电池是新能源汽车的核心能量源。为保障电池高效、可靠、安全运行，需要通过电池管理系统（Battery Management System，BMS）对动力电池进行实时监控、故障诊断、SOC 估算、短路保护等，并通过CAN 总线与车辆集成控制器进行信息交互。</p>
								<h2>特点及优势</h2>
								<ul class="order-list">
									<li>完全符合汽车行业标准的产品组合</li>
									<li>完全符合汽车行业标准的产品组合</li>
									<li>完全符合汽车行业标准的产品组合</li>
									<li>完全符合汽车行业标准的产品组合</li>
								</ul> -->
							</div>
							<div class="inner yk-hide">
				<!-- 				<h1>新能源汽车电池管理系统/NEV BMS4</h1>
								<p>动力电池是新能源汽车的核心能量源。为保障电池高效、可靠、安全运行，需要通过电池管理系统（Battery Management System，BMS）对动力电池进行实时监控、故障诊断、SOC 估算、短路保护等，并通过CAN 总线与车辆集成控制器进行信息交互。</p>
								<h2>特点及优势</h2>
								<ul class="order-list">
									<li>完全符合汽车行业标准的产品组合</li>
									<li>完全符合汽车行业标准的产品组合</li>
									<li>完全符合汽车行业标准的产品组合</li>
									<li>完全符合汽车行业标准的产品组合</li>
								</ul> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>		
	</div>

	<%- include('./footer.html') %>
	<script type="text/javascript" src="/public/js/product.js"></script>